<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="ConnectionStringMsSql" connectionString="server=dbsys.cs.vsb.cz\STUDENT;database=kar0229;user=kar0229;password=L1OGyD3r8vQNaW78;" />
  <add name="iPhone_resell_system_DB.Properties.Settings.KAR0229ConnectionString"
   connectionString="Data Source=dbsys.cs.vsb.cz\STUDENT;Initial Catalog=KAR0229;Persist Security Info=True;User ID=KAR0229;Password=L1OGyD3r8vQNaW78"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>